{% extends 'base.html' %}
{% load static %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="info">
        <div class="content">
            <h1 class="content-heading">Seedra допомагає рости швидко і ефективно</h1>
            <p>Насіння шпинату SEEDRA - містить 600 насінин у 2 упаковках та професійні інструкції, створені PhD Helga
                George
                Переконайтеся в нашій якості - найсвіжіші партії цього сезону. Без ГМО, реліквія - наше насіння пройшло
                перевірку та має найкращі показники схожості.

                Ваш легкий досвід вирощування — наша гарантія

                Шпинат зазвичай використовується в кулінарії: салати, супи, смузі, лазанья, піца, пироги, різотто тощо.

                Насіння для саду вирощують, збирають і упаковують у США. Ми підтримуємо місцевих фермерів і раді
                виробляти
                цей продукт американського виробництва</p>
        </div>
        <div class="img">
            <img class="img1" src="{% static 'users/images/Group1.png' %}" alt="">
        </div>
    </div>
    <div class="info">
        <div class="img">
            <img class="img1" src="{% static 'users/images/Rectangle5.png' %}" alt="">
        </div>
        <div class="content2">
            <h1 class="content2-heading">Наша історія</h1>
            <p>Насіння шпинату SEEDRA - містить 600 насінин у 2 упаковках та професійні інструкції, створені PhD Helga
                George</p>
            <p>Переконайтеся в нашій якості - найсвіжіші партії цього сезону. Без ГМО, реліквія - наше насіння пройшло
                перевірку та має найкращі показники схожості.</p>
            <p>Ваш легкий досвід вирощування — наша гарантія</p>
            <p>Шпинат зазвичай використовується в кулінарії: салати, супи, смузі, лазанья, піца, пироги, різотто
                тощо.</p>
        </div>
    </div>
    </div>
{% endblock %}